/*  your css code here. If applicable */
.grid-container{
	display:grid;
	grid-template-columns:repeat(auto-fit,200px);
	gap:10px;
}
.grid-item{
	display:flex;
	justify-content:center;
	align-items:center;
	background-color:rgb(211, 211, 211);
	border-radius:5px;
	font-size:40px;
	height:150px;
}